@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Young+Serif&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: #fa8072;
}

li,
a,
button {
  font-family: "lora", serif;
  font-weight: 500;
  font-size: 16px;
  color: #fdd1cc;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  text-decoration: none;
}

.logo {
  margin-right: auto;
  width: 10rem;
  max-height: 100%;
  cursor: pointer;
}

.navLinks {
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding: 0 20px;
}

.navLinks li a {
  transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
  color: #ffffff;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #729afa;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #ffffff;
}

button:hover {
  background-color: #93b0f5;
  color: #fdd1cc;
  transition: all 0.3s ease 0s;
}

h1 {
  font-size: 8rem;
  display: flex;
  justify-content: flex-end;
  font-family: "Lora", serif;
  color: #fdd1cc;
  line-height: 7rem;
}

h3 {
  font-size: 1.15rem;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  font-family: "Lora", serif;
  color: #fdd1cc;
}
legend {
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fdd1cc;
}
form {
  padding: 10px;
}
label {
  width: 100%;
  padding: 10px 20px 10px 280px;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  color: #3a3939;
}
input {
  width: 500px;
  padding: 10px 20px 10px 0px;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  margin-left: auto;
  margin-right: auto;

  border-radius: 5%;
}
